<h2>Add a New Project</h2>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Project Title</label>
    <input id="title" name="title" class="form-control" type="text" required="true">
  </div>
  <button type="submit" class="btn btn-info btn-lg">Create Project</button>
</form>
