<h2>Volunteer Projects</h2>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>





<h3>Add a new project</h3>
<!-- <a href="/projects/new">Add a new project</a> -->


<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Project Title</label>
    <input id="title" name="title" class="form-control" type="text" required="true">
  </div>
  <button type="submit" class="btn btn-info btn-lg">Create Project</button>
</form>
