<h2>Edit info for project <%= @project.title %></h2>

<form action='/projects/<%= @project.id() %>' method='post'>
    <input name='_method' type='hidden' value='patch'>

    <label>
      Project Title
        <input name='title' type='text' placeholder='<%= @project.title %>'>
    </label>

    <button type='submit' class='btn btn-info btn-lg'>Edit Project</button>
</form>

<form action='/projects/<%= @project.id() %>' method='post'>
  <input name='_method' type='hidden' value='delete'>

  <button type='submit' class='btn btn-info btn-lg'>Delete Project</button>
</form>
